body{
    background-color: rgb(13, 15, 54);
}

.movie_container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie_box{
    width:250px;
    margin:15px;
    background-color: rgb(64, 69, 157);
    color:white;
    border-radius: 5px;
}

.movie_box img{
    max-width: 100%;
}

.movie_info{
    display:flex;
    padding:15px;
    justify-content: space-between;
    align-items: center;
}

.more_info{
    width:250px;
    display:none;
    background-color: pink;
}